@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Text:wght@200..700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --font: "Stack Sans Text", sans-serif;
    --primary: #d4c5a9;
    --secondary: #F5F0E8;
    --accent: #B89F7A;
    --light: #FAF8F5;
    --dark: #1C1A18;
    --text: #5C5349;
    --today: #C9A87C;
    --selected: #E8DFD0;
    --event-panel-bg: #F5F0E8;
}
body{
    font-family: var(--font);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background :var(--light);
    padding: 25px;
}
.main-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 900px;
    width: 100%;
}
.calender-container{
    background: white;
    
}