@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Text:wght@200..700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --font: "Stack Sans Text", sans-serif;
    --primary: #d4c5a9;
    --secondary: #F5F0E8;
    --accent: #B89F7A;
    --light: #FAF8F5;
    --dark: #1C1A18;
    --text: #5C5349;
    --today: #C9A87C;
    --selected: #E8DFD0;
    --event-panel-bg: #F5F0E8;
}

body {
    font-family: var(--font);
    min-height: 100vh;
    background: var(--dark);
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
}

/* for the side nav-bar */
#sidebar{
    box-sizing: border-box;
    height: 100vh;
    width: 250px;
    padding: 5px 1em;
    background-color: var(--text);
    border-right: 1px solid var(--dark);
    position: sticky;
    top: 0; 
    align-self: start;
    transition: width 0.4s ease;
    overflow: hidden;
    text-wrap: nowrap;
    /* top is refrence for the sticky thing  */
}
#sidebar ul{
    list-style: none;
}
#sidebar >ul>li:first-child{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    .logo{ 
        /* css nesting use vaxw */
        font-weight: 800;
    }
}
#sidebar ul li.active a {
    color: #FAF8F5;
    i{
        fill: red;
    }
}
#sidebar a ,#sidebar .dropdown-btn ,#sidebar.logo{
    border-radius: .5em;
    padding: .85em;
    text-decoration: none;
    color: var(--dark);
    display: flex;
    align-items: center;
    gap: 1em;
}
.dropdown-btn{
    width: 100%;
    text-align: left;
    background: none;

    border: none;
    font:inherit;
    cursor: pointer;
}
#sidebar .sub-menu {
    display: grid;
    grid-template-rows: 0fr; 
    /* when showing up this should be grid-template-row :1fr:    list-style: none; */
    padding-left: 2.5em;  
    margin-top: 4px;
    transition: grid-template-rows 0.4s ease;
    > div{
        overflow: hidden;
    }
}
#sidebar .sub-menu.show{
    grid-template-rows: 1fr;
}
#sidebar.close{
    padding: 5px;
    width: 60px;
}
#sidebar.close .logo{
    display: none;
}
#sidebar.close span{
    display: none;
}
#sidebar.close .dropdown-arrow{
    display: none;
}
#sidebar.close a,
#sidebar.close .dropdown-btn {
    justify-content: center;
    padding: .85em 0;
}
#sidebar.close ul {
    width: 60px;
}
#sidebar.close #toggle-btn{
    margin-left: 0;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}
.dropdown-arrow{
    margin-left: auto;
    transition: transform 0.4s ease;
}
/* for the rotation of the icon when clicking  */
.dropdown-arrow.rotated{
    transform: rotate(180deg);
}
#toggle-btn{
    margin-left: auto;
    padding: 1em;
    border: none;
    border-radius: .5em;
    background: none;
    cursor: pointer;
    transition: transform 0.4s ease;
}
#toggle-btn.rotated{
    transform: rotate(180deg);
}
#toggle-btn:hover{
    color: #1C1A18;
}


































.main{
    padding: 25px;
    overflow-y:auto;
}



.main-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 750px;
    width: 100%;
}

.calender-container {
    background: white;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    padding: 10px;
    max-width: 340px;
    width: 100%;
    overflow: visible;
    perspective: 1000px;
    /* added persepective for the 3d effect */
    transition: all 0.3s ease;
}

.calender-container:hover {
    transform: translatey(-5px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}

.calender-header {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #1C1A18;
    background: linear-gradient(135deg, var(--primary)0%, var(--secondary)100%);
    padding: 1.2rem;
    overflow: visible;
    position: relative;
}

.moth-year {
    font-size: 1.2rem;
    font-weight: 800;
    margin-bottom: 0.5rem;
    position: relative;
}

.calender-nav-buttons {
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 1rem;
    padding-right: 1rem;

    justify-content: space-between;
    width: 100%;
    left: 0;
}

.calnav-btn {
    background: var(--dark);
    color: white;
    border: none;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calnav-btn:hover {
    background: #C9A87C;
    transform: scale(1.1);
}

.week-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    /* this makes the 7 coloumn in the line  */
    padding: 0.5rem 1rem;
    background: var(--text);
    font-weight: 800;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
    padding: 0.7rem;
}

.day {
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--dark);
    cursor: pointer;
    position: relative;
    font-weight: 500;
    transition: all 0.3s ease;
}

.day:hover {
    background: rgba(28, 26, 24, 0.1);
    transform: scale(1.1);
}

.day.today {
    background: var(--today);
    color: #1C1A18;
    font-weight: bold;
}

.day.selected {
    background: var(--selected);
    color: var(--dark);
    font-weight: bold;
    animation: pop 0.3s ease;
}

@keyframes pop {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

/* this is for the days for the remaning days of the month that don't lie on the month  */
.day.other-month {
    color: var(--text);
    opacity: 0.5;
}

.day.has-event::after {
    content: '';
    position: absolute;
    bottom: 5px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: var(--accent);
}

.weekday {
    text-align: center;
    padding: 0.5rem;
    font-size: 0.75rem;
}

.calender-footer {
    padding: 0.7rem;
    text-align: center;
    display: flex;
    border-top: 1px solid black;
    justify-content: space-between;
}

.today-btn {
    background: #1C1A18;
    color: var(--dark);
    border: none;
    padding: 10px 12px;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.today-btn:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(133, 142, 130, 0.3)
}

.event-indicator {
    font-size: 0.8rem;
    color: #5C5349;
    display: flex;
    align-items: center;
    font-weight: bold;
}

/* Event pannel start  */
.event-panel {
    background: white;
    display: flex;
    flex-direction: column;
    max-width: 340px;
    height: fit-content;
    border-radius: 20px;
    padding: 1.5rem;
    width: 100%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.event-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #1C1A18;
}

.event-date {
    font-weight: 600;
    font-size: 1rem;
}

.event-list {
    max-height: 350px;
    overflow-y: auto;
}

.no-events {
    text-align: center;
    color: var(--dark);
    padding: 2rem 1rem;
    font-style: italic;
}

.event-icon {
    font-size: 1.2rem;
    color: var(--dark);
    margin-right: 10px;
}

.event-panel {
    max-width: 400px;
}

.event-date {
    font-size: 1.3rem;
    font-weight: 600;
    color:var(--dark)
}
.event-list{
    max-height: 350px;
    overflow-y: auto;
}
.event-item{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0.8rem 1rem;
    margin-bottom: 0.5rem;
    border-radius: 10px;
    background: (var(--secondary));
    border-left: 4px solid var(--accent);
    transition: transform 0.2s ease;
}
.event-item:hover{
    transform: translateX(5px);
}
.event-color{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--dark);
    flex-shrink: 0;
}
.event-time{
    font-weight: 600;
    font-size: 0.85rem;
    color: var(--accent);
    min-width: 80px;
}
.event-text{
    font-size:0.9rem;
    color:var(--dark);
}